@import './mixins.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::focus:not(:focus-visible) {
  outline: none;
}

html {
  font-size: 0.520835vw;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

body {
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #FFFFFF;
}

a,
a:hover {
  text-decoration: none;
}

input,
textarea {
  line-height: inherit;
  margin: 0;
  padding: 0;
}

input,
button {
  border: none;
  outline: none;
  cursor: pointer;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: inherit;
  text-rendering: auto;
}

ul {
  padding: 0;
  margin: 0;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  --moz-appearance: textfield;
}

.container {
  width: 140rem;
  margin: 0 auto;
}

.main__desc {
  padding: 9.6rem 0;
  @include font(600, 2.4rem, 140%);
  font-style: italic;
  text-align: center;
}

.title {
  @include font(700, 3.6rem, auto);
}

@media (min-width: 120em) {
  .container {
    width: 1400px;
  }

  .main__desc {
    padding: 96px 0;
    @include font(600, 24px, 140%);
  }

  .title {
    @include font(700, 36px, auto);
  }
}

@media (max-width: 48em) {
  html {
    font-size: 1.5625vw;
    -webkit-text-size-adjust: none;
  }

  .container {
    padding: 0 3.2rem;
    width: 100%;
  }

  .main__desc {
    padding: 13rem 0;
    padding-bottom: 5.5rem;
    @include font(600, 3.2rem, 140%);
  }

  .title {
    @include font(700, 4.9rem, auto);
  }
}