.header {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5.4rem 0;
    }

    &__logo {
        width: 40rem;
        display: flex;
        align-items: center;
        gap: 2.4rem;

        &-link {
            display: block;

            img {
                width: 19.4rem;
                height: auto;
            }
        }

        span {
            @include font(400, 1.4rem, 130%);
            color: #4C4C4C;
        }
    }

    &__nav {
        ul {
            display: flex;
            align-items: center;
            gap: 2.4rem;
        }

        &-link {
            padding: .8rem 2.4rem;
            border-radius: .4rem;
            @include font(500, 1.8rem, 130%);
            transition: all .15s ease-in;

            span {
                transition: all .15s ease-in;
                color: #000000;
            }

            &--active {
                background-color: #E9EAF9;

                span {
                    color: #4F58C9;
                }
            }
        }
    }

    &__contacts {
        a {
            display: flex;
            align-items: center;
            gap: .5rem;
            color: #000000;
        }

        &-icon {
            width: 4.2rem;
            height: 4.2rem;

            svg {
                width: 4.2rem;
                height: 4.2rem;
                stroke: #737BE1;
                transition: all .15s ease-in;
            }
        }

        &-content {
            b {
                transition: all .15s ease-in;
                display: block;
                @include font(600, 1.8rem, 130%);
            }

            span {
                display: block;
                @include font(400, 1.4rem, 130%);
                color: #4C4C4C;
            }
        }
    }
}

@media (min-width:120em) {
    .header {
        &__wrapper {
            padding: 54px 0;
        }

        &__logo {
            width: 400px;
            gap: 24px;

            &-link {
                img {
                    width: 194px;
                }
            }

            span {
                @include font(400, 14px, 130%);
            }
        }

        &__nav {
            ul {
                gap: 24px;
            }

            &-link {
                padding: 8px 24px;
                border-radius: 4px;
                @include font(500, 18px, 130%);
            }
        }

        &__contacts {
            a {
                gap: 5px;
            }

            &-icon {
                width: 42px;
                height: 42px;

                svg {
                    width: 42px;
                    height: 42px;
                }
            }

            &-content {
                b {
                    @include font(600, 18px, 130%);
                }

                span {
                    @include font(400, 14px, 130%);
                }
            }
        }
    }
}

@media (min-width:48em) {
    .header {
        &__nav {
            &-link {
                &:hover {
                    background-color: #E9EAF9;

                    span {
                        color: #4F58C9;
                    }
                }
            }
        }

        &__contacts {
            a:hover {
                .header__contacts-icon {
                    svg {
                        stroke: lighten($color: #737BE1, $amount: 5);
                    }
                }

                .header__contacts-content {
                    b {
                        color: #737BE1;
                    }
                }
            }
        }
    }
}

@media (max-width:48em) {
    .header {
        &__wrapper {
            padding: 5.4rem 0;
        }

        &__logo {
            width: auto;
            flex-direction: column;
            align-items: unset;
            gap: .5rem;

            &-link {
                display: block;

                img {
                    width: 34.5rem;
                    height: auto;
                }
            }

            span {
                @include font(400, 2.13rem, 130%);
            }
        }

        &__nav {
            display: none;
        }

        &__contacts {
            a {
                gap: .5rem;
            }

            &-icon {
                width: 7.5rem;
                height: 7.5rem;

                svg {
                    width: 7.5rem;
                    height: 7.5rem;
                }
            }

            &-content {
                display: none;
            }
        }
    }
}